**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
str = input("Enter a string: ")
counter = 0
for n in str:
    counter = counter+1
print("Length of the string is:", counter)

Enter a string: fatma
Length of the input string is: 5

In [2]:
str = "fatma"
print(len(str))

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
def string_both_ends(str):
  if len(str) < 2:
    return ''

  return str[0:2] + str[-2:]

print(string_both_ends('w3resource'))
print(string_both_ends('w3'))
print(string_both_ends('w'))

w3ce
w3w3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [7]:
def add_string(str):
    length = len(str)

    if length > 2:
        if str[-3:] == 'ing':
            str += 'ly'
        else:
            str += 'ing'

    return str


print(add_string('ng'))
print(add_string('long'))
print(add_string('playing'))

ng
longing
playingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    return word_len[-1][0], word_len[-1][1]
result = find_longest_word(["PHP", "Exercises", "Backend"])
print("\nLongest word: ",result[1])
print("Length of the longest word: ",result[0])

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [9]:
def change_sring(str ):
      return str[-1:] + str[1:-1] + str[:1]
	  
print(change_sring('fatma'))
print(change_sring('12345'))

aatmf
52341

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [10]:
def odd_values_string(str):
  result = "" 
  for i in range(len(str)):
    if i % 2 == 0:
      result = result + str[i]
  return result

print(odd_values_string('abc'))
print(odd_values_string('python'))

ace
pto

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [3]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('amr and ahmed are frindes but amr is the tallest'))

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [4]:
str = input("Enter the String :")
print("Given String :",str)
print("UpperCase :"+ str.upper())
print("LowerCase :"+ str.lower())

Enter the String :FATMA
Given String : FATMA
UpperCase :FATMA
LowerCase :fatma

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [10]:
def reverse_string(str1):
    if len(str1) % 4 == 0:
       return ''.join(reversed(str1))
    return str1

print(reverse_string('fatma'))
print(reverse_string('amnb'))

fatma
bnma

**10- Write a Python program to remove a newline in Python

In [14]:
str1 = "\n i can do it  \n"
newstr = str1.rstrip()
print(newstr)

 i can do it

**11-Write a Python program to check whether a string starts with specified characters

In [2]:
string = "@yahoo"
print(string.startswith("@"))

True

**12- Write a Python program to add prefix text to all of the lines in a string

**13-Write a Python program to print the following numbers up to 2 decimal places

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

**15-Write a Python program to display a number with a comma separator

In [4]:
a = 1000000
b = 30000000
print("\nOriginal Number: ", a)
print("Formatted Number with comma separator: "+"{:,}".format(a));
print("Original Number: ", b)
print("Formatted Number with comma separator: "+"{:,}".format(b));
print()

Original Number:  1000000
Formatted Number with comma separator: 1,000,000
Original Number:  30000000
Formatted Number with comma separator: 30,000,000

**16-Write a Python program to reverse a string using 2 ways

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [33]:
def find_duplicate_chars(string):
    unique_chars = set()
    duplicate_chars = set()
    for char in string:
        if char in unique_chars:
            duplicate_chars.add(char)
        else:
            unique_chars.add(char)
    return duplicate_chars
print(find_duplicate_chars("AASSFFUS"))

{'F', 'A', 'S'}

**18-Write a Python program to find the first non-repeating character in a given string

**19-Write a Python program to remove spaces from a given string

In [38]:
def remove(string):
    return string.replace(" ", "")
string = ' f a t m a '
print(remove(string))

fatma

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [45]:
def swapList(newList):
    size = len(newList)
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
    return newList
newList = [1,2,3,5]
print(swapList(newList))

[5, 2, 3, 1]

In [18]:
def swap (values_list):
    values_list[0] = values_list[-1]
    values_list[-1] = values_list[0]
    return values_list

values_list = input().split(',')  
swap(values_list)

print(values_list)

'all,things,will,be,okay'
["okay'", 'things', 'will', 'be', "okay'"]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [48]:
def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
List = [2, 6, 9, 8]
pos1, pos2  = 1, 3
print(swapPositions(List, pos1-1, pos2-1))

[9, 6, 2, 8]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [20]:
def Maxelement(lst):
   max = lst[0]
   for ele in lst:
      if ele > max :
         max = ele
      return max
lst = [100, 1, 5, 80, 20]
print("Largest element of the list is:", Maxelement(lst))

Largest element of the list is: 100

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [21]:
a = [18, 52, 23, 41, 32]
a.sort()
smallest = a[0]
print("Smallest number is: ",smallest)

Smallest number is:  18

**26-search for if an elem is existing in list

In [22]:
test_list = [1, 2, 3, 4, 5, 6]
for i in test_list:
    if(i == 4):
        print("Element Exists")

Element Exists

**27- clear python list using different ways

**28-remove duplicated elements from a list

In [52]:
mylist = ["a", "b", "b", "d", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'd', 'c']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [50]:
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
l1 = []
count = 0
for item in input_list:
    if item not in l1:
        count += 1
        l1.append(item)
print("", count)

 5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [56]:
test_list = [4, 5, 9, 9, 4, 4, 3, 7, 8, 8]
print("The original list : " + str(test_list))
m = 2
res = []
for i in test_list:
     
    freq = test_list.count(i)
     
   
    if freq > m and i not in res:
        res.append(i)
print("The required elements : " + str(res))

The original list : [4, 5, 9, 9, 4, 4, 3, 7, 8, 8]
The required elements : [4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [6]:
test_list = [1, 2, 2, 3, 4, 5]
print("The original list is : " + str(test_list))
 
for idx in range(1, len(test_list) - 1):
 
    
    test_list[idx] = test_list[idx - 1] \
    if test_list[idx - 1] > test_list[idx + 1] \
    else test_list[idx + 1]

print("The elements after replacing : " + str(test_list))

The original list is : [1, 2, 2, 3, 4, 5]
The elements after replacing : [1, 2, 3, 4, 5, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

**44- Write a Python script to merge two Python dictionaries

**45-Write a Python program to get the maximum and minimum values of a dictionary values

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

**48-Write a Python program to unpack a tuple into several variables

**49-Write a Python program to add an item to a tuple

**50-Write a Python program to convert a tuple to a string

**51-Write a Python program to convert a list to a tuple

**52-Write a Python program to reverse a tuple

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

**56-Write a Python program to add member(s) to a set.

**57-Write a Python program to remove an item from a set if it is present in the set.

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

**59-Write a Python program to find the maximum and minimum values in a set

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.